@model BlogBounty.Models.TopicViewModels.NewCommentViewModel

<div class="row">
    <div class="col-sm-12">
        <form asp-controller="Topic"
              asp-action="Comment">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <textarea asp-for="Body" 
                                  class="form-control" 
                                  rows="3" 
                                  placeholder="@(Model.ReplyingTo.HasValue ? "Write a reply" : "Write a comment")"></textarea>
                        <span asp-validation-for="Body" class="text-danger" />
                    </div>
                </div>
                <input asp-for="ReplyingTo" type="hidden" />
                <input asp-for="TopicId" type="hidden" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
