@model System.Collections.Generic.IEnumerable<BlogBounty.Models.TopicViewModels.TopicViewModel>

<div class="row">
    <div class="col-sm-12">
        <form asp-controller="Home" 
              asp-action="Index" 
              method="post" 
              class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search..." id="Filter" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm1-2">
        <div class="list-group">
            @foreach (var topic in Model)
            {
                <a class="list-group-item"
                   asp-controller="Topic"
                   asp-action="View"
                   asp-route-id="@topic.Id">
                    @topic.Title
                    @foreach (var tag in topic.Tags)
                    {
                        <span class="label label-info">

                            @tag
                        </span>
                    }
                    <span class="badge">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                        @topic.NumberOfSubscriptions
                    </span>
                </a>
            }
        </div>
    </div>
</div>